.hero-section {
  padding: 1rem 2rem;
  text-align: center;
  background: radial-gradient(circle at top, #101438, #14204a 70%);
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(to right, #6a5af9, #4dc3ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.hero-btn {
  margin-top: 3rem;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background: linear-gradient(to right, #6a5af9, #4dc3ff);
  color: white;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
  box-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);
}
