/* NAVBAR WRAPPER */
.navbar {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
  background: #13172e;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(5, 7, 20, 0.75);
}

/* LOGO SECTION */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);;
}

.navbar-logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  background: linear-gradient(to right, #6a5af9, #4dc3ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
  transition: 0.25s ease;
  display: flex;
  align-items: center;
  gap: 0.8rem 1rem;
}

.nav-links a:hover {
  color: #6a5af9;
  text-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);
}

/* ACTIVE LINK (optional) */
.active-link {
  color: #6a5af9 !important;
  font-weight: 800;
}

/* CTA BUTTON (right side) */
.nav-cta {
  padding: 2rem 2rem;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  background: linear-gradient(to right, #6a5af9, #4dc3ff);
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.nav-cta:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

/* RESPONSIVE MENU */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
/* DROPDOWN WRAPPER */
.dropdown-wrapper {
  position: relative;
  cursor: pointer;
}

/* TEXT OF DROPDOWN LINKS */
.dropdown-label {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  transition: 0.25s ease;
}

.dropdown-label:hover {
  color: #6a5af9;
  text-shadow: 0px 0px 10px rgba(106, 90, 249, 0.7);
}

/* DROPDOWN MENU */
.dropdown-menu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background: #1a1f3e;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

/* LINK INSIDE DROPDOWN */
.dropdown-menu a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.95rem;
  text-decoration: none;
  transition: 0.25s ease;
}

.dropdown-menu a:hover {
  color: #6a5af9;
  transform: translateX(4px);
}

